.menu-icon {
  height: 20px;
  width: 20px;
}
.menu-dropdown {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 10rem;
  transform: translateX(100%);
  background-color: #ffff;
  border-radius: 10px;
  padding: 0.3rem 0.1rem;
  box-shadow: 0 0 10px 1px lightgray;
  overflow: hidden;
}

.menu-dropdown-item {
  /* display: flex; */
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 0.4rem;
  /* border-bottom: 1px solid rgb(109, 251, 97); */
  /* margin-left: 2rem; */
}
.menu-dropdown-item:hover {
  background-color: #092532;
  color: #99d8d0;
  border-radius: 10px;
  text-decoration: none;
  cursor: default;
}
