.profile-circle {
  width: 20px;
  align-items: center;
  justify-content: center;
}
.item:hover {
  filter: brightness(1.2);
}

.icon {
  width: 200%;
  height: 200%;
}

.dropdown {
  position: absolute;
  top: 70px;
  width: 200px;
  transform: translateX(-45%);
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5%;
  padding: 0.5rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  transition: background 200ms;
  padding: 1.5rem;
  /* margin-left: 2rem; */
}
.menu-item:hover {
  background-color: #76ead7;
  color: #393e46;
  text-decoration: none;
  cursor: default;
}
