.form-container{
    margin:10% 30% 0 30%;

}
.title{
    padding:5% 25%;
}

.sign-up-button{
    margin-top: 10px;
}

@media only screen and (max-width: 600px)  {

    .form-container{
        margin:10px 20%;
        padding:10px ;
    }

  }

  @media only screen and (max-width: 800px)  and (min-width: 600px) {

    .form-container{
        margin:10px 30%;
        padding:10px ;
    }

  }