.menu-icon {
  height: 20px;
  width: 20px;
}
.menu-dropdown {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 120px;
  transform: translateX(100%);
  background-color: #ffff;
  border: 1px solid rgb(109, 251, 97);
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  overflow: hidden;
}
hr {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  width: 70px;
  background-color: rgb(118, 255, 232);
}
.menu-dropdown-item {
  /* display: flex; */
  align-items: center;
  transition: background 600ms;
  text-align: center;
  border-radius: 100px;
  padding: 0.5rem;
  /* border-bottom: 1px solid rgb(109, 251, 97); */
  /* margin-left: 2rem; */
}
.menu-dropdown-item:hover {
  background-color: rgb(118, 255, 232);
  border-radius: 100px;
  text-decoration: none;
  cursor: default;
}

.menu-dropdown-item:active {
  background-color: rgb(4, 167, 139);
}
